<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Closet List</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div><h2>Welcome [[${user.firstName}]] [[${user.lastName}]] </h2></div></br>
<div th:replace="base :: navlinks"></div>

<table class="table">
    <tr>
        <th>Closet Name</th>
        <th>Actions</th>
    </tr>
    <tbody>
    <tr th:each="closet : ${closets}">
        <td th:text="${closet.closetName}"></td>
        <td>
            <!--<a th:href="@{/update/{id}(id=${closet.id})}">Update</a>-->
            <!--<a th:href="@{/addtopces}">Add Top</a>-->
            <a th:href="@{/detail/{id}(id=${closet.id})}">Details</a>
            <!--<a th:href="@{/delete/{id}(id=${closet.id})}">Delete</a>-->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>