<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Season</th>
                    <th>Color</th>
                    <th>Material</th>
                    <th>image</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>