<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Closet Application</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<div class="container">
<div><h2>Welcome [[${user.firstName}]] [[${user.lastName}]] </h2></div>
</br>

<div th:replace="base :: navlinks"></div>
    <form action="#"
          th:action="@{/processpackinglist}"
          method="POST">
        <div class="form-group">
            <label for="closetInput">Closet:</label>
            <select id="closetInput" class="custom-select" name="selectedcloset">
                <option value="">Select Closet</option>
                <option th:each="pcloset : ${closets}"
                        th:value="${pcloset.id}"
                        th:text="${pcloset.closetName}"/>
            </select><br/>
        </div>
               <input type="submit" value="Submit" />
        </p>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>