<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Closet Application</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<div th:replace="base :: navlinks"></div>

<h3>Title: <span th:text="${pcloset.closetName}"></span></h3> <br/>

<div class="container">
    <form action="#"
          th:action="@{/processpackinglist}"
          method="POST">
        <div class="form-group">
            <label for="closetInput">Closet:</label>
            <select id="closetInput" class="custom-select" name="selectedcloset">
                <option value="">Select Closet</option>
                <option th:each="pcloset : ${closets}"
                        th:value="${pcloset.id}"
                        th:text="${pcloset.closetName}"/>
            </select><br/>
        </div>
               <input type="submit" value="Submit" />
        </p>
    </form>
</div>

<div th:replace="base :: bootstrap-js"></div>
</body>
</html>