<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Secure Page</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

    <div th:replace="base :: navlinks"></div>

    <h2>Secure Page</h2>

    <div>Welcome [[${user.firstName}]]!</div>

    <div sec:authorize="hasAuthority('ADMIN')">
        Administrators will see this text.
    </div>

    <div sec:authorize="hasAuthority('USER')">
        Users will see this text.
    </div>

</body>
</html>