<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Closet Application</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<div><h2>Welcome [[${user.firstName}]] [[${user.lastName}]] </h2></div>
</br>
<div th:replace="base :: navlinks"></div>


<h2>Title: <span th:text="${closet.closetName}"></span></h2> <br/>
<div class="container">
    <h1>Tops</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Color</th>
            <th>Material</th>
            <th>Size</th>
            <th>Season</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="top : ${tops}">
            <td th:text="${top.color}"></td>
            <td th:text="${top.material}"></td>
            <td th:text="${top.size}"></td>
            <td th:text="${top.season}"></td>
            <td><img th:src="${top.imgUrl}" height="50" width="50"/></td>
            <td>
                <div class="nav-item">
                    <span>
                    <a th:href="@{/update/{id}(id=${top.id})}">Update</a>
                    <a th:href="@{/deletetop/{id}(id=${top.id})}">Delete</a>
                </span>
                </div>

        </tr>
        </td>
        </tbody>
    </table>
</div>
<div class="container">
    <h1>Jackets</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Color</th>
            <th>Material</th>
            <th>Size</th>
            <th>Season</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jacket : ${jackets}">
            <td th:text="${jacket.color}"></td>
            <td th:text="${jacket.material}"></td>
            <td th:text="${jacket.size}"></td>
            <td th:text="${jacket.season}"></td>
            <td><img th:src="${jacket.imgUrl}" height="50" width="50"/></td>
            <!--<img th:src="${jacket.imgUrl}">-->
            <td>
                <div class="nav-item">
                    <span>
                    <a th:href="@{/update/{id}(id=${jacket.id})}">Update</a>
                    <a th:href="@{/deletejacket/{id}(id=${jacket.id})}">Delete</a>
                </span>
                </div>

        </tr>
        </td>
        </tbody>
    </table>
</div>
<div class="container">
    <h1>Bottoms</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Color</th>
            <th>Material</th>
            <th>Size</th>
            <th>Season</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bottom : ${bottoms}">
            <td th:text="${bottom.color}"></td>
            <td th:text="${bottom.material}"></td>
            <td th:text="${bottom.size}"></td>
            <td th:text="${bottom.season}"></td>
            <td><img th:src="${bottom.imgUrl}" height="50" width="50"/></td>
            <!--<img th:src="${bottom.imgUrl}">-->
            <td>
                <div class="nav-item">
                    <span>
                    <a th:href="@{/update/{id}(id=${bottom.id})}">Update</a>
                    <a th:href="@{/deletebottom/{id}(id=${bottom.id})}">Delete</a>
                </span>
                </div>
        </tr>
        </td>
        </tbody>
    </table>
</div>
<div class="container">
    <h1>Footwear</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Color</th>
            <th>Material</th>
            <th>Size</th>
            <th>Season</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="footwear : ${footwears}">
            <td th:text="${footwear.color}"></td>
            <td th:text="${footwear.material}"></td>
            <td th:text="${footwear.size}"></td>
            <td th:text="${footwear.season}"></td>
            <td><img th:src="${footwear.imgUrl}" height="50" width="50"/></td>
            <!--<img th:src="${footwear.imgUrl}">-->
            <td>
                <div class="nav-item">
                    <span>
                    <a th:href="@{/update/{id}(id=${footwear.id})}">Update</a>
                    <a th:href="@{/deletefootwear/{id}(id=${footwear.id})}">Delete</a>
                </span>
                </div>
        </tr>
        </td>
        </tbody>
    </table>
</div>
<div class="container">
    <h1>Accessories</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Color</th>
            <th>Material</th>
            <th>Size</th>
            <th>Season</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="accessory : ${accessories}">
            <td th:text="${accessory.color}"></td>
            <td th:text="${accessory.material}"></td>
            <td th:text="${accessory.size}"></td>
            <td th:text="${accessory.season}"></td>
            <td><img th:src="${accessory.imgUrl}" height="50" width="50"/></td>
            <!--<img th:src="${accessory.imgUrl}">-->
            <td>
                <div class="nav-item">
                    <span>
                    <a th:href="@{/update/{id}(id=${accessory.id})}">Update</a>
                    <a th:href="@{/deleteaccessory/{id}(id=${accessory.id})}">Delete</a>
                </span>
                </div>
        </tr>
        </td>
        </tbody>
    </table>
</div>
<h2><a th:href="@{/delete/{id}(id=${closet.id})}">Delete this closet</a></h2>

</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>