<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
    <div class="container">
        <div>
            <h2 th:text="${user.username}"></h2>
            <div>
                <span>
                    <strong>Season</strong> |
                    <strong>Color</strong> |
                    <strong>Material</strong> |
                    <strong>image</strong> |
                    <strong>Category</strong>
                </span>
            </div>
            <div  th:each="closet : ${closets}">
                <th:block>
                    <ul th:each="top : ${closet.tops}">
                        <li th:text="${top.category}"></li>
                        <li th:text="${top.color}"></li>
                        <li th:text="${top.material}"></li>
                        <li th:text="${top.size}"></li>
                    </ul>
                </th:block>
            </div>
        </div>
    </div>
    <div th:replace="base :: bootstrap-js"></div>
</body>
</html>