<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Today's Outfit</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <div class="col-3"></div>
    <div class="col-6 pt-6">
        <div>
            <h3 id="location"></h3>
            <h3 id="temp" name="temp"></h3>
            <label for="userlocation">Location: </label>
            <input id="userlocation" type="text"/><br/>
            <input type="submit" value="Today's Weather" onclick="weatherBallon(document.getElementById('userlocation').value)"/>
        </div>
        <form action="#" th:action="@{/process}" th:object="${user}"
              method="post" enctype="multipart/form-data" >
            <input type="hidden" id="temperature" name="temperature"/>
            <input type="hidden" th:field="*{id}"/>
            <lable for="occasion">Occasion:</lable>
            <select id="occasion" name="occasion" />
            <option value="formal">Formal</option>
            <option value="informal">Informal</option>
            </select><br />

            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div class="col-3"></div>

</div>
<div th:replace="base :: weather"></div>
<div th:replace="base :: bootstrap-js"></div>
</body>
</html>
